@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 25% 96%;
    --foreground: 0 0% 11%;

    --card: 36 25% 96%;
    --card-foreground: 0 0% 11%;

    --popover: 36 25% 96%;
    --popover-foreground: 0 0% 11%;

    --primary: 352 82% 38%;
    --primary-foreground: 0 0% 100%;

    --secondary: 42 69% 70%;
    --secondary-foreground: 0 0% 11%;

    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 42%;

    --accent: 42 69% 70%;
    --accent-foreground: 0 0% 11%;

    --destructive: 352 82% 38%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 87%;
    --input: 0 0% 93%;
    --ring: 352 82% 38%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    min-width: 360px;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
